.head {
    
    height: 100vh;
    width: 100vw;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  
    
}

.face {
    font-family: 'courier new', serif;
    font-size: 2.5em;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -60%) rotate(90deg);
    border-radius: 50%;
    background: #fc0;
    padding: 20px;
    
    
}

